.filter-wrap {
    padding: 20px 0 20px 0;
}
.main-button { /* angular flaw prevents these properties from working if put into the main stylesheet- have to duplicate across component css files */
    border-radius: 4px;
    color: #660066;
}
.main-button:hover { /* same comment as above */
    color: #fff;
}
.mat-card {
    padding: 30px;
}
.person-card {
    width: 100%;
    margin-bottom: 30px;
}
.mat-card .main-button {
    margin-bottom: 16px;
}
.mat-card-header-text {
    width: 100%;
}
.mat-card-actions, 
.mat-card-content, 
.mat-card-subtitle, 
.mat-card-title {
    margin-bottom: 25px;
}

@media screen and ( max-width : 568px ) {
    #lastFilter {
        margin-top: 10px;
    }
}
