
.profile-wrap {
    overflow: hidden;
    margin-top: 20px;
}
.profile-widget {
    padding: 25px; /* 25 0 25 0*/
    margin-bottom: 20px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    background: #fff;
    border-radius: 2px;
}
.profile-image img {
    vertical-align: baseline;
    border-radius: 8px;
}
.profile-data {
    padding-left: 20px;
}
.main-button {
    border-radius: 4px;
    color: #660660;
}
.main-button:hover {
    color: #fff;
}
.file-wrap .mat-list .mat-list-item {
    color: #4d4d4d;
}
.file-wrap .mat-list-item:hover {
    background-color: transparent;
}


@media screen and ( max-width : 1020px ) {
    .profile-widget .mat-raised-button {
        min-width: 50px;
    }

}
@media screen and ( max-width : 767px ) {
    .action-wrap {
        text-align: center;
    }
}
