@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/*** GLOBAL ***/
a {
    cursor: pointer;
    color: #4d4d4d;
    border-bottom: 1px solid transparent;
    transition: 0.5s;
}
a:hover {
    text-decoration: none;
    color: #a6a6a6;
}
a:focus,
.main-button:focus,
.mat-menu-item:focus {
    outline: none;
}
h1 {
    font-size: 2.2em;
    margin-bottom: 30px;
}
h2 {
    font-size: 1.8em;
    margin-bottom: 30px;
}
h3 {
    font-size: 1.5em;
    margin-bottom: 30px;
}
.white-text {
    color: #fff;
}
.text-semi-dark {
    color: rgba(102, 102, 102, 1);
}
.uppercase {
    text-transform: uppercase;
}
.highlight {
    color: #660066;
}
.main-button {
    background-color: #fff;
}
.main-button:hover {
    background-color: #660660;
}
.main-content {
    margin: 50px auto;
    width: 550px;
}

#custNavbar,
.mat-menu-panel {
    background-color: #242b3c;
}
.mat-menu-item,
.mat-menu-item .mat-icon {
    color: #fff;
    transition: 0.3s;
}

/*** SIDEBAR, MENU, ITEM LISTS ***/
.mat-drawer {
    background-color: #242b3c;
}
.mat-list-item {
    transition: 0.3s;
    border-radius: 4px;
    margin-bottom: 5px;
}
.mat-list-item:hover {
    background-color: #918cd6;
}
.mat-list .mat-list-item {
    color: #fff;
}
.mat-line a {
    color: #fff !important;
}
.mat-expanded,
.mat-expansion-panel:hover,
.mat-menu-item,
.mat-menu-item .mat-icon,
.main-button:hover,
.mat-list .mat-list-item {
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
}
